.geolocation-button {
    margin-top: 35px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 20px;
}

.geolocation-button:hover {
    background-color: rgb(181, 219, 250);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}