.date-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    margin: 20px auto;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 10px auto;
}