:root {
    --main-color: rgb(102, 145, 198);
}

.App {
    display: flex;
    font-family: "roboto", sans-serif;
    text-align: center;
    border: 6px solid var(--main-color);
    border-radius: 20px;
    width: 600px;
    justify-content: center;
    padding: 30px 0;
    color: rgb(66, 63, 124);
    margin: 40px auto;
}

.row {
    justify-content: center;
}